@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #0073a4;  
}

@media (min-width:768px) {
    
  div::-webkit-scrollbar {
      width: 6px;
  }
  div::-webkit-scrollbar-track {
      background: #1183b5; 
      border-radius: 50px;    
  }
  div::-webkit-scrollbar-thumb {
      background-color: #136e96;
      border-radius: 50px;
  }

  body::-webkit-scrollbar {
      width: 10px;
  }
  body::-webkit-scrollbar-track {
      background: rgb(172, 172, 172); 
  }
  body::-webkit-scrollbar-thumb {
      background-color: rgb(94, 94, 94);
      border-radius: 50px;
  }

} 


/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
